<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <!-- semantic-ui CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    />
    <title>Technoloigies</title>
  </head>

  <body>
    <div id="app"></div>
    <div id="modal"></div>

    {% load static %}
    <script src="{% static 'frontend/main.js' %}"></script>
  </body>
</html>
